.sign-up-form-main {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border: 2px solid red; */
}
.sign-up-inner-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.sign-up-inner-card > section {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  align-items: center;
}
.sign-up-inner-card > section > label {
  margin-left: 2px;
  font-size: 15px;
  color: grey;
}
.sign-up-inner-card > input,
select {
  height: 40px;
  width: 100%;
  background-color: #f0f1f8;
  padding: 26px 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 6px;
  /* width: 100%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 16px; */
}
.sign-up-inner-card > select {
  padding: 5px;
}

.sign-up-form-main > div > textarea {
  background-color: #f0f1f8;
}

.rdios-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  padding-right: 30px;
  background-color: #f0f1f8;
}

.rdios-main > div {
  display: flex;
  gap: 0.5rem;
  width: 15%;
}

.main-form-main-card {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.error-msg {
  color: var(--main-text-color);
  text-align: end;
}

.sign-up-form-main > button {
  height: 40px;
  width: 100%;
  background-color: var(--main-text-color);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
